.editableList > a {
  padding: 4px 5px;
  margin: 0 0 0 -5px;
  width: 100%;
  color: #666;
}

.editableList a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 100;
}

.profileSidebar ul {
  list-style-type: none;
  padding-inline-start: 0px;
  font-weight: normal;
  font-size: 13px;
}

.profileSidebar ul li {
  width: 100%;
  box-sizing: border-box;
}
.profileSidebar ul li:hover {
  background-color: rgb(242, 242, 242);
}

.profileSidebar h3 {
  color: #333;
  font-weight: 400;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  padding-bottom: 8px;
  font-size: 15px;
  letter-spacing: 0;
  text-transform: none;
}

.profileSidebar .title {
  margin-bottom: 8px;
  color: #333;
  position: relative;
}
